.GalleryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;

}

.Gallery img {
    width: 300px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
}