.SectionLeft {
    display: flex;
    flex-direction: row;
    align-items: center;

    flex-wrap: wrap;
}

.SectionLeft img {
    max-width: 45%;
    object-fit: cover;
    margin-right: 40px;

}

.TextSectionLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 200px;
    margin-left: 20px;
}

