.SectionGridContainer {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
}

.GridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding-left: 15vw;
    padding-right: 15vw;
}