.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 0 auto;

}

.SectionLeft,
.SectionRight {
  padding: 20px;
  padding-right:40px;
}