/* SectionRight.css */

.SectionRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.SectionRight img {
    min-width: 400px;
    max-width: 45%;
    object-fit: cover;
    margin-left: 40px;

}

.TextSectionRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 200px;
    margin-right: 20px;
}

/* Responsive adjustments */

