.CardHorizontal {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: white;
    max-width: 600px;
    min-width: 400px;
    /* Define el ancho máximo */
    max-height: 400px;
    /* Define el alto máximo */
}

.CardHorizontal:hover {
    transform: translateY(-10px);
}

.projects__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    height: 100%;
}

.projects__image {
    position: relative;
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
}



.projects__button:hover {
    background-color: #e55347;
}

.projects__content {
    padding: 20px;
    overflow-y: auto;
    /* Permite el desplazamiento si el contenido es demasiado alto */
}

.projects__subtitle {
    font-size: 16px;
    color: #757575;
    margin-bottom: 10px;
}

.projects__title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.projects__description {
    font-size: 14px;
    color: #555;
}

.projects__buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.projects__link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 10px
}

.projects__link i {
    margin-right: 5px;
}

.projects__link:hover {
    text-decoration: underline;
}